<div class="Content">
    <section class="personalSection">
        <form class="personalHeader2" id="profileHeader" action="/personal/{{user1._id}}/edit" enctype="multipart/form-data" method='POST'>
            <img src="{{user1.imgPath}}" class="profile-pic" alt="avatar">
            <input type="file" name="photo">
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name" value="{{user1.name}}"><br>
            <label for="city">City</label><br>
            <input type="text" id="city" name="city" value="{{user1.city}}"><br>
            <label for="website">Website</label><br>
            <input type="text" id="website" name="website" value="{{user1.website}}"><br>
            <button type="submit" class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f5">Save</button>
        </form>
        <div class="images-profile">
            {{#each pictures}}
            <img src="{{this.data.image}}" class="image2" alt="">
            <form action="/personal/{{id}}/delete" method="POST">
                <button type="submit" class="deleteButton">X</button>
            </form>
            {{else}}
            <p class="f5 f4-ns fw6 dark-gray">You have no pictures yet!</p>
            {{/each}}
        </div>
</div>
</section>