    <header class="bg-lightest-blue header-top tc ph5-l ph4-m ph3-ns pt5 pb4">
        <img src="" class="br-100 pa1 ba b--black-10 h4 w4" alt="avatar">
        <h1 class="f5 f4-ns fw6 dark-gray">{{user1.name}}</h1>
        <h2 class="f6 dark-gray fw2 ttu tracked mt2">{{user1.city}}</h2>
        <h2 class="f6 dark-gray fw2 ttu tracked mt2">{{user1.website}}</h2>
        <a href="/personal/edit">Edit profile</a>
    </header>

    <div class="ph5-l ph4-m ph3-ns pa4 columns">
        <div class="col mb1">
            {{#each pictures}}
            <img class="br2" src="{{this.data.image}}" class="image" alt="">
            </form>
            {{else}}
            <p class="f5 f4-ns fw6 dark-gray">There aren't pictures yet!</p>
            {{/each}}
        </div>
    </div>