      <div class="Content fade-in">
          <section class="personalSection">
              <header class="personalHeader" id="profileHeader">
                  <img src="" class="br-100 pa1 ba b--black-10 h4 w4" alt="avatar">
                  <h1 class="">{{name}}</h1>
                  <h2 class="">{{city}}</h2>
                  <h2 class="">{{website}}</h2>
                  <h2 class="">{{email}}</h2>
              </header>
              <div class="images-profile">
                  {{#each pictures}}
                  <img src="{{this.data.image}}" class="image" alt="">
                  {{else}}
                  <p class="you-have-no">There aren't pictures yet!</p>
                  {{/each}}
              </div>
          </section>
      </div>

